
.App {
  font-family: sans-serif;
}

ul{
  list-style: none;
  padding: 0;
}
.po-re{
  position: relative;
}

.w-48{
  width: 48%;
}

.opacity-0{
  opacity: 0;
}
.opacity-1{
  opacity: 1;
}


.font-sm {
  font-size: 14px;
}
.text-custom-primary {
  color: #1EB7EF;
}