$primary: #1EB7EF;
.po-re{
  position: relative;
}

.opacity-0{
  opacity: 0;
}

.opacity-1{
  opacity: 1;
}

.font-sm {
  font-size: 14px;
}

.text-custom-primary {
  color: $primary;
}

.lh-lg{
  line-height: 1.5;
}